.goal-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top:-970px;
    margin-left: 190px;
  }
  
  .goal-row {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-top: 20px;
  }
  
  .box {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    width: 30%;
    background: linear-gradient(180deg, rgba(218, 190, 245, 0.78) 0%, rgba(178, 147, 216, 0.25) 71.98%, rgba(145, 182, 216, 0.00) 100%); 
    border-radius: 20px;
    
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    font-weight: bold;
    color:#421C5F;
    font-size: 38px;
  }
  .goal-img{
    margin-left: 270px;
  }
  .goal-button{
    background-color: #421C5F !important;
    border-radius: 10px;
    border:none;
    font-weight: bold;
    font-size: 20px;
    margin-top: -1530px;
    margin-left: 1500px;
  }
  .goal-title{
    font-size: 30px;
    font-weight: bold;
    color: #421C5F;
    margin-top: 3000px;
    margin-left: 1500px; 
    display:flex;
    position: absolute;    }

  .goals-li{
    font-size: 23px;
  }
  